@inherits LayoutComponentBase

<PageTitle>AspNetCoreBlazorUI</PageTitle>

<div class="page">
    <main>
        <_NavBar></_NavBar>
   
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
